# .dockerignore

# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml
docker/

# Node.js
frontend/node_modules
frontend/build
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.env.local

# Python
backend/__pycache__
backend/*.pyc
backend/.venv
backend/venv
.pytest_cache
.mypy_cache

# IDEs y OS
.idea
.vscode
*.swp
*~
.DS_Store
